html,body{
    margin: 0px;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    position: fixed;
    display: flex;
    height: 70px;
    width: 100%;
    background: rgba(0, 0, 0,0.9);
    z-index: 5;
}
.h1{
    font-size: 23px;
    text-align: center;
    margin: auto;
    color: #fff;
}
#menybox{
    position: fixed;
    background: rgba(41,165,242,0.85);
    width: 100px;
    height: 70px;
    display: flex;
    text-align: center;
    z-index: 6;
}
#h3meny{
    position: relative;
    display: flex;
    margin: auto;
    font-size: 20px;
    height: 20px;
}
#menu{
    position: fixed;
    background: rgba(0, 0, 0,0.9);
    height: 760px;
    width: 100px;
    text-align: center;
    top: 70px;
    z-index: 6;
    overflow: scroll;
}
.huvudkategori{
    display: inline-block;
    padding: 10% 1%;
    width: 95%;
    margin: 5px 0px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
	font-size: 20px;
}

.undermeny{
    background: rgba(0,0,0,0.8);
    text-align: left;
    overflow: hidden;
    max-height: 50px;
}
.underkategori{
    display: block;
    padding: 6px;
    transition: 0.5s;
    color: #ccc;
    text-decoration: none;
}
.underkategori:hover{
    background: rgba(41,165,242,0.85);
    color: #fff;
}
#wrapper{
    width: 78%;
    min-height: 100px;
    margin-left: 18%;
    text-align: center;
    padding-top: 100px;
}
.annonspuff{
    text-align: left;
}
.puff_text{
    
}

@media screen and (min-width: 700px){
    .annonspuff{
        width: 47%;
        display: inline-block;
        margin: 1%;
    }
}